@using databaseInfo
@model IEnumerable<Person>
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <a href="/home/addPeople" class="btn btn-primary">Add People</a>
    <br />
    <table class="table table-striped table-hover table-bordered">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Age</th>
        </tr>
        @foreach(Person p in Model)
        {
        <tr>
            <td>@p.FirstName</td>
            <td>@p.LastName</td>
            <td>@p.Age</td>
        </tr>
        }

    </table>

</div>